script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous")
script(src="/js/jquery.sticky.js")
script(src="/js/date-picker.js")
script(src="/js/date-picker-ko.js")
script.
  document.addEventListener("DOMContentLoaded", function(){
    if (window.innerWidth > 992) {
      document.querySelectorAll('.navbar .nav-item').forEach(function(everyitem){
        everyitem.addEventListener('mouseover', function(e){
          let el_link = this.querySelector('a[data-bs-toggle]');
          if(el_link != null){
            let nextEl = el_link.nextElementSibling;
            el_link.classList.add('show');
            nextEl.classList.add('show');
          }
        });
        everyitem.addEventListener('mouseleave', function(e){
          let el_link = this.querySelector('a[data-bs-toggle]');
          if(el_link != null){
            let nextEl = el_link.nextElementSibling;
            el_link.classList.remove('show');
            nextEl.classList.remove('show');
          }
        })
      });
    }
  });
  $(document).ready(function(){
    $("#sticky-navigation").sticky({topSpacing:0, zIndex:1000});
  });