doctype html
html(lang="ko_KR")
    head
    meta(charset='UTF-8')

    title 취미하나
    script(src='/javascript/bootstrap.min.js')
    script(src='/javascript/bootstrap.bundle.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font.css')
    link(rel='stylesheet', href='/stylesheets/common.css')

    body(marginwidth="0" marginheight="0")
      include ../script.pug
      include ../template/header.pug
      include ../template/navigation.pug
      #carouselExampleControls2.carousel.slide(data-bs-ride='carousel')
        ol.carousel-indicators
          button.active(type='button', data-bs-target='#carouselExampleDark', data-bs-slide-to='0', aria-current='true', aria-label='Slide 1')
          button(type='button', data-bs-target='#carouselExampleDark', data-bs-slide-to='1', aria-label='Slide 2')
          button(type='button', data-bs-target='#carouselExampleDark', data-bs-slide-to='2', aria-label='Slide 3')
        .carousel-inner
          .carousel-item.active(data-bs-interval='200')
            img.d-block.w-100(src='/images/mainbanner.png', alt='...')
            .carousel-caption.d-none.d-md-block
          .carousel-item(data-bs-interval='200')
            img.d-block.w-100(src='/images/side1.png', alt='...')
            .carousel-caption.d-none.d-md-block
          .carousel-item(data-bs-interval='200')
            img.d-block.w-100(src='/images/side2.png', alt='...')
            .carousel-caption.d-none.d-md-block
        main
            article
                .d-flex.justify-content-center.align-items-center.flex-column(style="height: 750px; width:100%; background-image: url(/images/mainbanner.png); background-size: cover; background-position: center;")
                    p.text-center(style="font: 38px/46px CJK-M; color: white;") 
