doctype html
html(lang="ko_KR")
  head
    meta(charset='UTF-8')

    title 취미하나
    style.
      .container-fluid{
        box-sizing: border-box;
      }
      .carousel .carousel-indicators button.aaa {
        background-color: #AFAFAF;
        opacity: 0.5;
        width: 10px;
        height: 10px;
        margin-bottom: 60px;
      }
      .carousel .carousel-indicators button.active {
        background-color: #E95F5F;
        opacity: 1;
      }
      #mainNotice {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(65, 57, 57, 0.8);
        padding: 12px 0;
        z-index: 50;
        opacity: 1;
      }
      #maininformation {
        position: relative;
        width: 554px;
        text-align: left;
      }
      #Whitebutton {
        color: #ffffff;
        width: 104px;
      }
      #programbutton {
        background-color: #ffffff;
        width: 132px;
        height: 35px;
        padding: 0;
        margin-left: 40px;
        border: none;
        border-radius: 0px;
        font: 16px/35px AppleSDGothicNeoM;
        letter-spacing: 0.12px;
        color: #E95F5F;
      }
      #busibessbutton {
        background-color: #EF2C2C;
        width: 104px;
        height: 35px;
        padding: 0;
        margin-left: 10px;
        border: none;
        border-radius: 0px;
        font: 16px/35px AppleSDGothicNeoM;
        letter-spacing: 0.12px;
        color: #ffffff;
      }
      .jb-wrap {
        width: 40%;
        position: relative;
        margin: 0px;
        padding: 0px !important;
        z-index: 0;
      }
      .jb-wrap:hover {
        transform: scale(1.1);
        z-index: 50;
        transition: all 0.5s ease-in-out;
      }
      .jb-wrap img {
        display:inline-block;
        width: 100%;
      }
      .jb-wrap:hover img{
        filter: brightness(40%);
      }
      .jb-text {
        width: 100%;
        color: #5B3238;
        font-size: 200;
        text-align: bottom;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
        font-size: 24px; 
        margin-top: 13px;
        font-weight: 400;
      }
      .jb-wrap:hover .jb-text {
        color:white;
      }



  body(marginwidth="0" marginheight="0")
    include ../script.pug
    include ../template/header.pug
    include ../template/navigation.pug
    div(style='position: relative;')
      #carouselExampleDark.carousel.carousel-dark.slide(data-bs-ride='carousel')
        .carousel-indicators
          each banner, id in banners
            if id == 0
              button.active.aaa(type='button', data-bs-target="#carouselExampleDark", aria-current='true', data-bs-slide-to=id)
            else
              button.aaa(type='button', data-bs-target="#carouselExampleDark", data-bs-slide-to=id)
        .carousel-inner
          each banner, id in banners
            if id == 0
              .carousel-item.active
                img.d-flex.justify-content-center.align-items-center.flex-column(src=banner.img, style="height: 750px; width:100%; height:100%; background-size: cover; background-position: center;")
                .carousel-caption.d-none.d-md-block
            else
              .carousel-item
                img.d-flex.justify-content-center.align-items-center.flex-column(src=banner.img, style="height: 750px; width:100%; height:100%; background-size: cover; background-position: center;")
                .carousel-caption.d-none.d-md-block
      #mainNotice
        .w-1200.d-flex.align-items-center
          div(style='width: 178px; font: 16px AppleSDGothicNeoR; color: white;') 취미하나 소식
          a#maininformation(style='font: 16px AppleSDGothicNeoR; color: white;') 11월 원데이클래스 예약 오픈! (아트테라피, 컬러테라이, 아르마테라피...)
          a#Whitebutton(href='/news/list') MORE+
          div(style='height: 35px; width: 1px; background-color: #ffffffbe;')
          a#programbutton.btn(href='/b2c') 프로그램 신청
          a#busibessbutton.btn(href='/b2b') 사업 신청
      

    .container-fluid.w-1200
      .row 
        .col-12.text-center(style="margin-top: 50px; padding-bottom: 30px;")
          span(style=" margin-top: 13px; font: 24px AppleSDGothicNeoR; padding-bottom: 73px;") 나를 위한 취미하나  
          span(style="color:#E95F5F; font: 35px AppleSDGothicNeoR;") SERVICE
      .row.justify-content-center(style="margin-top: 48px; padding-bottom: 20px;")
        .col.text-center
          img(src="images/mainservice1.svg", style="width: 165px; height:166px;")
          p(style="font-size: 26px; margin-top: 13px;") 심리미술과 공예의 만남
          p(style="font-size: 22px; font-weight: 310; margin-top: 13px;") 심리미술과 공예가 합쳐진 <br/>프로그램을 만나보실 수 있습니다.
        .col.text-center
          img(src="images/mainservice2.svg", style="width: 165px; height:166px;")
          p(style="font-size: 26px; margin-top: 13px;") 심리미술과 공예의 만남
          p(style="font-size: 22px; font-weight: 310; margin-top: 13px;") 상담/임상미술치료 전공 석사이상의 <br/>전문가들이 함께합니다.
        .col.text-center
          img(src="images/mainservice3.svg", style="width: 165px; height:166px;")
          p(style="font-size: 26px; margin-top: 13px;") 심리미술과 공예의 만남
          p(style="font-size: 22px; font-weight: 310; margin-top: 13px;") 연구를 통해 효과성이 검증된 <br/>프로그램을 사용합니다.
    .container-fluid.w-1200
      .row 
        .col.text-center(style="margin-top: 50px; padding-bottom: 30px;")
          span(style=" margin-top: 13px; font: 24px AppleSDGothicNeoR; padding-bottom: 73px;") 나를 위한 취미하나  
          span(style="color:#E95F5F; font: 35px AppleSDGothicNeoR;") PROGRAM
      .row.justify-content-center
        .col.text-center.jb-wrap
          .jb-image
            img(src="images/mainprogram1.png")
          .jb-text
            p PSYCHOLOGY
            p 심리상담
        .col.text-center.jb-wrap
          .jb-image
            img(src="images/mainprogram2.png")
          .jb-text
            p COUNSELING TEST
            p 심리검사
        .col.text-center.jb-wrap
          .jb-image
            img(src="images/mainprogram3.png")
          .jb-text
            p ART THERAPHY
            p 심리미술치료
        .col.text-center.jb-wrap
          .jb-image
            img(src="images/mainprogram4.png")
          .jb-text
            p COLOR THERAPHY
            p 컬러테라피
      .row
        .col.text-center.jb-wrap
          .jb-image
            img(src="images/mainprogram5.png")
          .jb-text
            p AROMA THERAPHY
            p 아로마테라피
        .col.text-center.jb-wrap
          .jb-image
            img(src="images/mainprogram6.png")
          .jb-text
            p SOAP AND BOMB
            p 솝 앤 밤
        .col.text-center.jb-wrap
          .jb-image
            img(src="images/mainprogram7.png")
          .jb-text
            p CALLIGRAPHY
            p 마인드 캘리그라피
        .col.text-center.jb-wrap
          .jb-image
            img(src="images/mainprogram8.png")
          .jb-text
            p EVENT PROGRAM
            p 이벤트 프로그램
    include ../template/footer.pug
    
    
    
    script.
      $(document).ready(function() {
        $('.carousel').carousel({
          interval: 3000
        })
      });
