footer
  hr
  .w-1200
    .row.my-2.text-muted.ml-5(style="font-size: 16px; width: 400px; margin-left:30px;")
      .col-3(style="margin-left:30px;")
        a 이용약관
      .col
        a 개인정보 처리방침
  hr
  .w-1200
    .row.mt-3.pb-5
      .col(style="margin-left:72px;")
        p.mt-4(style="font: 20px AppleSDGothicNeoR;") 나를 위한 취미하나 
    .row.mt-3.pb-5
      .col(style="margin-left:72px;")
        p.text-muted(style="font: 14px AppleSDGothicNeoR; padding-bottom: 18px;") 대표자: 최하나
        p.text-muted(style="font: 14px AppleSDGothicNeoR; padding-bottom: 18px;") 서울시 송파구 백제고분로 45길 24-18, 3F
        p.text-muted(style="font: 14px AppleSDGothicNeoR; padding-bottom: 18px;") TEL: 010-4495-1302
        p.text-muted(style="font: 14px AppleSDGothicNeoR; padding-bottom: 18px;") E-MAIL : hana_625@naver.com
        p.text-muted(style="font: 14px AppleSDGothicNeoR; padding-bottom: 18px;") Copyright © chimihana 2021. All Rights Reserved
      .col(style="margin-left:30px;")
        .row
          p.mr-5.text-muted(style="font: 14px AppleSDGothicNeoR; padding-bottom: 18px;") (운영시간: 매일 10:30-19:00)
          p.mr-5.text-muted(style="font: 14px AppleSDGothicNeoR;") (예약 시 운영시간 외 시간 이용 가능)
        .row
          .col-2
            img(src='images/mainnblog.svg', style="width:52px; padding-top: 53px;")
          .col-2
            img(src='images/maininstar.png', style="width:52px; padding-top: 53px;")
          .col-2
            img(src='images/mainkakao.svg', style="width:52px; padding-top: 53px;")
          .col
            img(src='images/mainyoutube.svg', style="width:52px; padding-top: 53px;")
          
