header#header.fixed-top(style="background-color: white;")
    nav
        .text-center(style="padding: 4px; ")
            a(href="/")
                img(src="/images/asset@2x.png" alt="대경플로어 로고" style="width:140px;")
            a(href="/") HOME 
            a(href="/company" style="margin-left: 40px;") COMPANY
            a(href="/business" style="margin-left: 40px;") BUSINESS
            a(href="/program" style="margin-left: 40px;") PROGRAM
            a(href="/communication" style="margin-left: 40px;") COMMUNICATION
            a(href="/product" style="margin-left: 40px;") PRODUCT
        div(style="height: 1px; background-color: #DBDBDB;")