meta(charset="utf-8")
meta(name="viewport" content="width=1440")
style.
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0rem;
        padding-left: 5rem;
    }
  }
  a {
    text-decoration: none;
  }
  footer {
    background-color: #eeeeee;
  }

  footer p {
    font-size: 13px !important;
  }
  .jua {
    font-family: 'Jua', sans-serif;
  }
  .font300 {
    font-weight: 300;
  }
  .font500 {
    font-weight: 500;
  }
  .font900 {
    font-weight: 900;
  }
  .ml {
    margin-left: 0.8rem;
  }
  img[src$=".gif"], img[src$=".png"] {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  }
  img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  @media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0rem;
      padding-left: 2.3rem !important;
    }
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
  }
  
  #side-banner {
    z-index: 999;
    position: fixed;
    top: 176px;
    right: 40px;
  }