meta(charset="utf-8")
meta(name="viewport" content="width=1440")
style.
  @media {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0rem;
      padding-left: 2.3rem !important;
    }
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
  }
  
  #side-banner {
    z-index: 999;
    position: fixed;
    top: 176px;
    right: 40px;
  }