nav#sticky-navigation.navbar.navbar-expand-lg.navbar-light.bg-light.d-sm-block
  .category.w-1200
    a.navbar-brand(href="/")
      img.d-inline-block.align-text-top(src="/images/asset@2x.png" width="140px")
    #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
        li.nav-item.dropdown
          a#menu-introduce.nav-link.active.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1rem; padding-left: 4rem;" data-toggle="dropdown") COMPANY
          .dropdown-menu(aria-labelledby="menu-introduce")
            a.dropdown-item.pt-1.pb-1(href="/intro" style="font-size: 0.9rem;") 회사소개
            a.dropdown-item.pt-1.pb-1(href="/mission" style="font-size: 0.9rem;") 미션 및 비전
            a.dropdown-item.pt-1.pb-1(href="/contribution" style="font-size: 0.9rem;") 사회공헌
            a.dropdown-item.pt-1.pb-1(href="/map" style="font-size: 0.9rem;") 오시는길
        li.nav-item.dropdown
          a#menu-introduce.nav-link.active.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1rem; padding-left: 4rem;" data-toggle="dropdown") BUSINESS
          .dropdown-menu(aria-labelledby="menu-introduce")
            a.dropdown-item.pt-1.pb-1(href="/school" style="font-size: 0.9rem;") 학교
            a.dropdown-item.pt-1.pb-1(href="/corporation" style="font-size: 0.9rem;") 기업/기관
            a.dropdown-item.pt-1.pb-1(href="/community" style="font-size: 0.9rem;") 공공기관
            a.dropdown-item.pt-1.pb-1(href="/sole" style="font-size: 0.9rem;") 개인
            a.dropdown-item.pt-1.pb-1(href="/b2b" style="font-size: 0.9rem;") 사업신청
        li.nav-item.dropdown
          a#menu-introduce.nav-link.active.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1rem; padding-left: 4rem;" data-toggle="dropdown") PROGRAM
          .dropdown-menu(aria-labelledby="menu-introduce")
            a.dropdown-item.pt-1.pb-1(href="/program" style="font-size: 0.9rem;") 프로그램 소개
            a.dropdown-item.pt-1.pb-1(href="/psychology" style="font-size: 0.9rem;") 심리상담
            a.dropdown-item.pt-1.pb-1(href="/counseling" style="font-size: 0.9rem;") 심리검사
            a.dropdown-item.pt-1.pb-1(href="/brand-tip" style="font-size: 0.9rem;") 아트테라피
            a.dropdown-item.pt-1.pb-1(href="/brand-tip" style="font-size: 0.9rem;") 아로마테라피
            a.dropdown-item.pt-1.pb-1(href="/brand-tip" style="font-size: 0.9rem;") 솝앤밤
            a.dropdown-item.pt-1.pb-1(href="/brand-tip" style="font-size: 0.9rem;") 캘리그라피
            a.dropdown-item.pt-1.pb-1(href="/brand-tip" style="font-size: 0.9rem;") 이벤트
            a.dropdown-item.pt-1.pb-1(href="/brand-tip" style="font-size: 0.9rem;") 프로그램신청
        li.nav-item.dropdown
          a#menu-introduce.nav-link.active.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1rem; padding-left: 4rem;" data-toggle="dropdown") COMMUNICATION
          .dropdown-menu(aria-labelledby="menu-introduce")
            a.dropdown-item.pt-1.pb-1(href="/introduce" style="font-size: 0.9rem;") 취미하나 소식
            a.dropdown-item.pt-1.pb-1(href="/franchise-vs-individual" style="font-size: 0.9rem;") 자주하는 질문
        li.nav-item
          a.nav-link.active(href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1rem; padding-left: 4rem;" data-toggle="dropdown") PRODUCT
          
#side-banner 
  p(target="_blank" href="https://pf.kakao.com/_IZTks/chat")
    img(src="/images/side1.png" width="40px")
  p(target="_blank" href="https://pf.kakao.com/_IZTks/chat")
    img(src="/images/side2.png" width="40px")
  p(target="_blank" href="https://pf.kakao.com/_IZTks/chat")
    img(src="/images/side3.png" width="40px")
  p(target="_blank" href="https://pf.kakao.com/_IZTks/chat")
    img(src="/images/side4.png" width="40px")
  p(target="_blank" href="https://pf.kakao.com/_IZTks/chat")
    img(src="/images/side5.png" width="40px")
  p(target="_blank" href="https://pf.kakao.com/_IZTks/chat")
    img(src="/images/side6.png" width="40px")
  p(target="_blank" href="https://pf.kakao.com/_IZTks/chat")
    img(src="/images/side7.png" width="40px" style="padding-top:1px")